div.header {
    display: flex;
    justify-content: center;
    background-color: #171f3ccf;
}

div.header img {
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
}

div.header h3 {
    position: relative;
    top: 10px;
    font-size: 30px;
    padding: 20px;
}