div.link a {
    color: black;
    position: absolute;
    left: 34%;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    margin: 1px auto; 
    background-color: #cf96969d;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    width: 180px;
    height: 35px;
}

div.link a:hover {
    background-color: #f8a5a5;
    cursor: pointer;
}