div.link a {
    color: black;
    position: absolute;
    left: 32%;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    margin: 1px auto; 
    background-color: #e4892e;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    width: 180px;
    height: 35px;
}

div.link a:hover {
    background-color: #a56d35;
    cursor: pointer;
    color: #00000088;
}